---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { PortableText } from "astro-portabletext";
import { useSanityClient } from "@sanity/astro";
import { handleMouseMoveAnimation } from "../utils/handleMouseMoveAnimation.js";

const client = useSanityClient();
const projects = await client.fetch(`*[_type == "projects"]{
  title,
  place,
  date,
  "slug": slug.current,
  "image": image.asset->url,
  "alt": image.alt
}`);

const about = await client.fetch(`*[_type == "about"][0]{
  "avatar": avatar.asset->url,
  "alt": avatar.alt
}`);

const services = await client.fetch(`*[_type == "services"]{
  service,
  description
}`);

const testimonials = await client.fetch(`*[_type == "testimonials"]{
  name_client,
  testimonial,
  "avatar": avatar.asset->url,
  "alt": avatar.alt
}`);

const smallImage = `${projects[0]?.image}?w=400&h=600`;
const mediumImage = `${projects[0]?.image}?w=800&h=900`;
---

<Layout title="Andrea Fotografía">
  <main class="main">
    <section class="hero">
      <div class="overlap">
        <div class="overlap-group">
          <div class="headline">
            <h1 class="jacob-gr-nberg">Andrea <br />Martinez</h1>
            <div class="before-layer">
              <h2 class="photographer">FOTÓGRAFA</h2>
              <h2 class="visual-artist">&amp; ARTISTA VISUAL</h2>
            </div>
          </div>
          <div class="image-wrapper">
            <picture>
              <source srcset={projects[0].image} media="(min-width: 1200px)" />
              <source srcset={mediumImage} media="(min-width: 768px)" />
              <img
                src={smallImage}
                decoding="async"
                loading="lazy"
                alt="hola"
                width="400"
                height="600"
              />
            </picture>
          </div>
        </div>
        <div class="image">
          <div class="div">
            <div class="image-2">
              <Image
                src={about.avatar}
                alt={about.alt}
                width={200}
                height={200}
              />
            </div>
            <div class="text-wrapper">Hola, soy Andrea</div>
          </div>
          <div class="button">
            <div class="overlap-group-2">
              <div class="layer-hidden-button"></div>
              <div class="circle">
                <div class="work-with-me">TRABAJA<br />CONMIGO</div>
              </div>
              <div class="border"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-down">
        <img class="arrow" src="img/arrow.svg" />
        <div class="scroll-down-explore">
          Scroll Down<br />&amp; Explore
        </div>
      </div>
    </section>

    <section class="services">
      <div class="frame">
        <div class="rectangle"></div>
        <div class="text-wrapper">Servicios</div>
      </div>
      <div class="grid">
        {
          services.map((service, index) => (
            <div class="row">
              <div class="text-wrapper-2">{`0${index + 1}`}</div>
              <div class="grid-2">
                <h2 class="text-wrapper-3">{service.service}</h2>
                <div class="div-wrapper">
                  <PortableText value={service.description} />
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section class="latest-work">
      <div class="grid">
        <div class="title hidden">
          <h2 class="text-wrapper">TRABAJOS</h2>
          <h2 class="latest">Recientes</h2>
        </div>
      </div>
      <div class="projects">
        {
          projects.map((project, i) => (
            <div class={`project grid-${i + 1}`}>
              <div class="overlap-group-wrapper">
                <h3 class="project-title">{project.title}</h3>
              </div>
              <a href={`/projects/${project.slug}`}>
                <div class="image-wrapper">
                  <div class="layer-project-hidden" />
                  <span class="view-project">VER PROYECTO </span>
                  <span class="layer-project" />
                  <Image
                    src={project.image}
                    alt={project.alt}
                    width={400}
                    height={600}
                  />
                </div>
              </a>
              <div class="wrapper-project-info">
                {project.place}
                <br />
                Septiembre 2023
              </div>
            </div>
          ))
        }
      </div>
    </section>

    <section class="clients">
      <div class="grid">
        <div class="frame">
          <div class="title">
            <div class="overlap-group">
              <h2 class="what-my-clients">
                QUE<span class="text-wrapper"> DICEN</span> MIS
              </h2>
              <h2 class="what-my-clients">CLIENTES</h2>
            </div>
          </div>
          <p class="worked-with-over">
            <h2 class="span">He trabajado con mas de</h2>
            <span class="text-wrapper-2"> 50 CLIENTES</span>
            <h2 class="span">en todo el país</h2>
          </p>
        </div>
        <button class="button">
          <div class="default">Trabaja Conmigo</div>
          <img class="icon" src="../../src/assets/svg/arrow-right.svg" />
        </button>
      </div>
      <div class="wrapper-testimonial">
        <div class="testimonial">
          {
            testimonials.map((testimonial) => (
              <div class="content">
                <div class="grid-2">
                  <div class="wrapper-comment-avatar">
                    <Image
                      src={testimonial.avatar}
                      alt={testimonial.alt}
                      width={80}
                      height={80}
                    />
                  </div>
                  <div class="wrapper-content-comment">
                    <div class="wrapper-title-quote">
                      <img
                        class="quote"
                        src="../../src/assets/svg/comillas.svg"
                      />
                      <h3 class="text-wrapper-3">{testimonial.testimonial}</h3>
                    </div>
                    <div class="grid-3">
                      <div class="subnav">
                        <div class="text-wrapper-4">
                          {testimonial.name_client}
                        </div>
                        <div class="line" />
                        <div class="text-wrapper-4">Photoshoot</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
        <div class="line-2"></div>
      </div>
    </section>
  </main>
</Layout>

<script>
  // @ts-nocheck
  import { handleMouseMoveAnimation } from "../utils/handleMouseMoveAnimation.js";
  gsap.registerPlugin(ScrollTrigger);
  const service = document.querySelectorAll(".row");
  const titles = document.querySelectorAll(".title.hidden");
  const images = document.querySelectorAll(".projects .image-wrapper");
  const layers = gsap.utils.toArray(".layer-project");
  const viewProject = document.querySelectorAll(".view-project");
  const layerProject = document.querySelectorAll(".layer-project-hidden");
  const animateButtonTop = document.querySelector(".layer-hidden-button");
  const button = document.querySelector(".circle");
  const border = document.querySelector(".overlap-group-2 .border");

  animateButtonTop.addEventListener("mousemove", function (e) {
    e.preventDefault();
    handleMouseMoveAnimation(animateButtonTop, button, border, e);
  });

  animateButtonTop.addEventListener("mouseleave", function (e) {
    e.preventDefault();

    gsap.to(button, {
      x: 0,
      y: 0,
    });
    gsap.to(border, {
      x: 0,
      y: 0,
    });
  });

  layerProject.forEach((layer, i) => {
    layer.addEventListener("mousemove", function (e) {
      const width = viewProject[i].getBoundingClientRect().width / 2;
      const height = viewProject[i].getBoundingClientRect().height / 2;
      gsap.to(viewProject[i], {
        x: `${e.offsetX - width}`,
        y: `${e.offsetY - height}`,
        opacity: 1,
      });
    });
    layer.addEventListener("mouseleave", function (e) {
      gsap.to(viewProject[i], {
        opacity: 0,
      });
    });
  });

  if (window.innerWidth > 1200) {
    gsap.to(".clients .grid", {
      scrollTrigger: {
        trigger: ".clients .grid",
        start: "top 20%",
        end: "bottom 80%",
        // markers: true,
        pin: true,
      },
    });
  }
  service.forEach((service) => {
    gsap.from(service, {
      scrollTrigger: {
        trigger: service,
        start: "top 90%",
        ease: "expo.out",
        // markers: true,
      },
      y: 60,
      opacity: 0,
    });
  });

  titles.forEach((title) => {
    gsap.from(title, {
      scrollTrigger: {
        trigger: title,
        start: "top 90%",
        ease: "expo.out",
        // markers: true,
      },
      y: 60,
      opacity: 0,
    });
  });

  images.forEach((project, i) => {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: project,
        start: "top 60%",
        // markers: true,
        ease: "expo.out",
      },
    });
    tl.from(layers[i], {
      yPercent: 100,
    }).to(layers[i], {
      yPercent: -102,
    });
  });

  const timeline = gsap.timeline({
    scrollTrigger: {
      trigger: ".hero .image",
      start: "top 80%",
    },
  });
  timeline
    .from(".hero .image .div", {
      y: 150,
      opacity: 0,
      ease: "expo.out",
    })
    .from(".hero .image .button", {
      scale: 0,
      opacity: 0,
      ease: "back.out(1.7)",
      duration: 0.6,
    });
</script>

<style>
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 1rem;
  }

  .header .jacob-gr-nberg {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-uppercase-h4-font-family);
    font-weight: var(--heading-uppercase-h4-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-h4-font-size);
    letter-spacing: var(--heading-uppercase-h4-letter-spacing);
    line-height: var(--heading-uppercase-h4-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-h4-font-style);
  }

  .header .menu-toggle {
    position: relative;
    width: 48px;
  }
  main {
    margin: auto;
    max-width: 1400px;
    font-size: 20px;
  }
  .astro-a {
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }

  .hero .overlap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
  }

  .hero .overlap-group {
    top: 0;
    left: 0;
  }

  .hero .scroll-down {
    display: none;
    top: 842px;
    left: 1168px;
  }

  .hero .arrow {
    top: 0;
    left: 0;
  }

  .hero .scroll-down-explore {
    top: 97px;
    left: 41px;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    font-style: var(--text-default-font-style);
  }

  .hero .image-wrapper {
    padding-top: 2rem;
    z-index: 1;
  }

  .hero .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
  }

  .project .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
  }

  .hero .headline {
    text-align: center;
    z-index: 3;
  }

  .hero .jacob-gr-nberg {
    font-family: var(--heading-xlarge-font-family);
    font-weight: var(--heading-xlarge-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-xlarge-font-size);
    letter-spacing: var(--heading-xlarge-letter-spacing);
    line-height: var(--heading-xlarge-line-height);
    font-style: var(--heading-xlarge-font-style);
  }

  .hero .photographer {
    font-family: var(--heading-uppercase-small-font-family);
    font-weight: var(--heading-uppercase-small-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-small-font-size);
    letter-spacing: var(--heading-uppercase-small-letter-spacing);
    line-height: var(--heading-uppercase-small-line-height);
    font-style: var(--heading-uppercase-small-font-style);
    position: relative;
  }

  .before-layer {
    position: relative;
    margin-top: 16px;
    padding: 0.5rem 0rem;
  }
  .hero .visual-artist {
    font-family: var(--heading-uppercase-small-font-family);
    font-weight: var(--heading-uppercase-small-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-small-font-size);
    letter-spacing: var(--heading-uppercase-small-letter-spacing);
    line-height: var(--heading-uppercase-small-line-height);
    font-style: var(--heading-uppercase-small-font-style);
    position: relative;
  }

  .hero .image {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
  }

  .hero .image-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .hero .image-2 img {
    object-fit: cover;
  }

  .hero .image-client {
    position: relative;
    width: 180px;
    height: 180px;
    object-fit: cover;
  }

  .image .div {
    display: none;
  }

  .hero .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    white-space: nowrap;
    font-style: var(--text-default-font-style);
  }

  .hero .button {
    align-self: flex-end;
    position: absolute;
  }

  .hero .overlap-group-2 {
    position: relative;
  }

  .layer-hidden-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    z-index: 40;
  }

  .hero .circle {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    top: 9px;
    left: 0;
    background-color: var(--backgroundprimary);
    border-radius: 500px;
  }

  .hero .work-with-me {
    position: relative;
    width: 77.06px;
    font-family: "Clash Display-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .hero .border {
    border-radius: 80.06px/80px;
    border: 1px solid;
    border-color: var(--borderprimary);
    position: absolute;
    top: 0;
    left: 10px;
    width: 160px;
    height: 160px;
  }

  /* services */
  .services {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
  }
  .services .text-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    white-space: nowrap;
    font-style: var(--text-default-font-style);
  }
  .services .text-wrapper::before {
    content: "";
    display: block;
    background-color: var(--textdefault);
    width: 30px;
    height: 2px;
  }

  .services .grid {
    margin-top: 1rem;
  }

  .services .row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .row:not(.row:first-child) {
    margin-top: 5rem;
  }
  .services .div-wrapper {
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
  }
  .text-wrapper-2 {
    position: relative;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-style: var(--heading-uppercase-h3-font-style);
  }
  .text-wrapper-3 {
    position: relative;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-style: var(--heading-uppercase-h3-font-style);
    text-transform: uppercase;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 1.2rem;
  }

  /* latest work */

  .latest-work {
    margin-top: 13rem;
  }

  .latest-work .latest {
    position: relative;
    font-family: var(--heading-uppercase-large-font-family);
    font-weight: var(--heading-uppercase-large-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-large-font-size);
    letter-spacing: var(--heading-uppercase-large-letter-spacing);
    line-height: var(--heading-uppercase-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-large-font-style);
  }
  .latest-work .text-wrapper {
    position: relative;
    font-family: var(--heading-large-primary-font-family);
    font-weight: var(--heading-large-primary-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-large-primary-font-size);
    letter-spacing: var(--heading-large-primary-letter-spacing);
    line-height: var(--heading-large-primary-line-height);
    white-space: nowrap;
    font-style: var(--heading-large-primary-font-style);
  }
  .latest-work .grid {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  .button-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .button-text .arrow-right {
    display: none;
    font-family: var(--button-text-default-font-family);
    font-weight: var(--button-text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--button-text-default-font-size);
    letter-spacing: var(--button-text-default-letter-spacing);
    line-height: var(--button-text-default-line-height);
    white-space: nowrap;
    font-style: var(--button-text-default-font-style);
  }

  .button-text .icon {
    position: relative;
    width: 31.21px;
    height: 14.71px;
  }
  .latest-work .projects {
    display: grid;
    grid-template-areas: "item";
    gap: 6rem;
    margin-top: 4rem;
    width: 100%;
  }

  .project .image-wrapper {
    overflow: hidden;
    position: relative;
  }
  .project a {
    line-height: 0;
  }

  .layer-project-hidden {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 40;
    line-height: 0;
  }

  .view-project {
    background-color: var(--textprimary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textinverse);
    font-size: 12px;
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 120px;
    text-align: center;
    z-index: 30;
    opacity: 0;
  }

  .layer-project {
    background-color: var(--textprimary);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .projects .project-title {
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  .wrapper-project-info {
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    font-style: var(--text-default-font-style);
  }

  /* clients */
  .clients {
    margin-top: 14rem;
    display: flex;
    flex-direction: column;
  }
  .what-my-clients {
    font-family: var(--heading-uppercase-medium-font-family);
    font-weight: var(--heading-uppercase-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-medium-font-size);
    letter-spacing: var(--heading-uppercase-medium-letter-spacing);
    line-height: var(--heading-uppercase-medium-line-height);
    font-style: var(--heading-uppercase-medium-font-style);
  }
  .clients .text-wrapper {
    font-family: var(--heading-medium-font-family);
    font-weight: var(--heading-medium-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-medium-font-size);
    letter-spacing: var(--heading-medium-letter-spacing);
    line-height: var(--heading-medium-line-height);
    white-space: nowrap;
    font-style: var(--heading-medium-font-style);
  }

  .clients .text-wrapper-3 {
    font-family: var(--heading-h3-font-family);
    font-weight: var(--heading-h3-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-h3-font-size);
    letter-spacing: var(--heading-h3-letter-spacing);
    line-height: var(--heading-h3-line-height);
    font-style: var(--heading-h3-font-style);
    text-transform: capitalize;
    word-break: break-word;
  }
  .clients .grid-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .clients .grid-3 {
    font-size: 16px;
  }

  .clients .grid-3 .subnav {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    font-style: var(--text-default-font-style);
  }

  .clients .subnav .line {
    position: relative;
    width: 15px;
    height: 1px;
    background-color: var(--bordersecondary);
  }

  .worked-with-over {
    margin-top: 1rem;
  }

  .label {
    width: 480px;
    height: 72px;
  }

  .clients .worked-with-over {
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: transparent;
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-style: var(--heading-uppercase-h3-font-style);
  }

  .clients .span {
    color: var(--textdefault);
    font-family: var(--heading-uppercase-h3-font-family);
    font-style: var(--heading-uppercase-h3-font-style);
    font-weight: var(--heading-uppercase-h3-font-weight);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-size: var(--heading-uppercase-h3-font-size);
    text-transform: uppercase;
    margin-top: 1rem;
  }

  .clients .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 20px;
    position: relative;
    border-radius: 100px;
    border: 1px solid var(--borderprimary);
    margin-top: 3rem;
  }
  .clients .button .default {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--button-default-font-family);
    font-weight: var(--button-default-font-weight);
    color: var(--textprimary);
    font-size: var(--button-default-font-size);
    letter-spacing: var(--button-default-letter-spacing);
    line-height: var(--button-default-line-height);
    white-space: nowrap;
    font-style: var(--button-default-font-style);
  }
  .clients .button .icon {
    position: relative;
    width: 31.21px;
    height: 14.71px;
    margin-right: -0.71px;
  }
  .wrapper-comment-avatar img {
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  .wrapper-testimonial {
    max-width: 530px;
    margin-top: 2rem;
  }

  .wrapper-title-quote {
    display: flex;
    gap: 2rem;
  }

  .testimonial {
    display: grid;
    gap: 6rem;
    margin-top: 2rem;
  }

  .wrapper-content-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
  }

  .testimonial .quote {
    width: 48px;
    height: 48px;
  }

  .testimonial:not(.testimonial:first-child) {
    margin-top: 3rem;
  }

  /* footer */
  .bottom {
    margin-top: 14rem;
  }
  .bottom .cta {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 69px;
    margin-bottom: 14rem;
    position: relative;
    flex: 0 0 auto;
  }

  .bottom .grid {
    text-align: center;
  }
  .bottom .cta-button {
    position: relative;
    width: 220px;
    height: 220px;
  }
  .bottom .overlap-group {
    position: relative;
    width: 230px;
    height: 220px;
    left: -10px;
  }
  .bottom .circle {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: var(--backgroundprimary);
    border-radius: 500px;
  }
  .bottom .get-in-touch {
    position: relative;
    align-self: stretch;
    font-family: var(--heading-uppercase-h4-font-family);
    font-weight: var(--heading-uppercase-h4-font-weight);
    color: var(--textinverse);
    font-size: var(--heading-uppercase-h4-font-size);
    text-align: center;
    letter-spacing: var(--heading-uppercase-h4-letter-spacing);
    line-height: var(--heading-uppercase-h4-line-height);
    font-style: var(--heading-uppercase-h4-font-style);
  }
  .bottom .border {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 0;
    left: 10px;
    border-radius: 110px;
    border: 1px solid;
    border-color: var(--borderprimary);
  }

  .bottom .let-s-work {
    position: relative;
    font-family: var(--heading-uppercase-large-font-family);
    font-weight: var(--heading-uppercase-large-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-uppercase-large-font-size);
    letter-spacing: var(--heading-uppercase-large-letter-spacing);
    line-height: var(--heading-uppercase-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-uppercase-large-font-style);
  }
  .bottom .text-wrapper {
    position: relative;
    font-family: var(--heading-large-font-family);
    font-weight: var(--heading-large-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-large-font-size);
    letter-spacing: var(--heading-large-letter-spacing);
    line-height: var(--heading-large-line-height);
    white-space: nowrap;
    font-style: var(--heading-large-font-style);
  }

  .bottom .footer {
    flex-direction: column;
    background-color: transparent;
    display: flex;
    position: relative;
  }
  .bottom .line {
    background-color: var(--borderdefault);
    position: relative;
    height: 1px;
  }
  .bottom .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-top: 3rem;
  }
  .bottom .logo {
    position: relative;
  }
  .bottom .jacob-gr-nberg {
    font-family: "Clash Display-Regular", Helvetica;
    font-weight: 400;
    color: var(--textprimary);
    font-size: var(--heading-xlarge-font-size);
    letter-spacing: 0;
  }
  .bottom .photograph-visual {
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
    margin-top: 1rem;
  }
  .bottom .column {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
    margin-top: 3rem;
  }
  .bottom .text-wrapper-2 {
    position: relative;
    margin-top: -1px;
    font-family: var(--heading-uppercase-h3-font-family);
    font-weight: var(--heading-uppercase-h3-font-weight);
    color: var(--textprimary);
    font-size: var(--heading-uppercase-h3-font-size);
    letter-spacing: var(--heading-uppercase-h3-letter-spacing);
    line-height: var(--heading-uppercase-h3-line-height);
    font-style: var(--heading-uppercase-h3-font-style);
  }
  .bottom .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    margin-top: 0.5rem;
  }
  .bottom .text-wrapper-3 {
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
    margin: 0;
  }
  .bottom .text-wrapper-4 {
    font-family: var(--text-medium-font-family);
    font-weight: var(--text-medium-font-weight);
    color: var(--textdefault);
    font-size: var(--text-medium-font-size);
    letter-spacing: var(--text-medium-letter-spacing);
    line-height: var(--text-medium-line-height);
    font-style: var(--text-medium-font-style);
  }
  .bottom .footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    width: 100%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    padding: 6rem 0rem 1rem;
  }
  .bottom .column-2 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-default-font-family);
    font-weight: var(--text-default-font-weight);
    color: var(--textdefault);
    font-size: var(--text-default-font-size);
    letter-spacing: var(--text-default-letter-spacing);
    line-height: var(--text-default-line-height);
    white-space: nowrap;
    font-style: var(--text-default-font-style);
  }
  .bottom .line-2 {
    width: 15px;
    background-color: var(--bordersecondary);
    position: relative;
    height: 1px;
  }
  .bottom .column-3 {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
  }
  .bottom .text-wrapper-6 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--heading-h6-font-family);
    font-weight: var(--heading-h6-font-weight);
    color: var(--textdefault);
    font-size: var(--heading-h6-font-size);
    letter-spacing: var(--heading-h6-letter-spacing);
    line-height: var(--heading-h6-line-height);
    white-space: nowrap;
    font-style: var(--heading-h6-font-style);
  }

  /* media */

  @media screen and (min-width: 480px) {
    .services .row {
      display: grid;
      grid-template-columns: 100px 1fr;
    }
  }
  @media screen and (min-width: 768px) {
    .hero .image-wrapper img {
      opacity: 1;
    }
    .services {
      gap: 8rem;
      flex-direction: row;
    }
    .services .grid {
      margin-top: 0rem;
    }
    .button-text .arrow-right {
      display: block;
    }

    .latest-work .projects {
      grid-template-areas:
        "item1 item1 item2"
        "item3 item4 item4";
    }

    .project.grid-1 {
      grid-area: item1;
    }
    .project.grid-2 {
      grid-area: item2;
    }
    .project.grid-3 {
      grid-area: item3;
    }
    .project.grid-4 {
      grid-area: item4;
    }

    .clients .grid-2 {
      gap: 3rem;
      flex-direction: row;
    }
  }

  @media screen and (min-width: 1200px) {
    .project:nth-child(2) {
      margin: 10rem 2rem 4rem;
    }
    .project:nth-child(3) {
      margin: 10rem 2rem 4rem;
    }
    .header {
      padding: 1rem 2.5rem;
    }
    .hero .visual-artist {
      margin-left: 3rem;
    }
    .hero .image-wrapper {
      width: 700px;
      height: 900px;
    }

    .hero .overlap-group {
      display: flex;
      justify-content: flex-end;
    }
    .hero .headline {
      text-align: initial;
      position: absolute;
      top: 160px;
      left: 0;
    }

    .hero .image {
      position: absolute;
      bottom: -120px;
      justify-content: initial;
    }

    .hero .button {
      position: relative;
      margin-left: -3rem;
    }

    .services {
      margin-top: 14rem;
      padding-left: 10rem;
    }

    .image .div {
      display: block;
    }

    .before-layer {
      margin-left: 7rem;
    }

    .latest-work .grid {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .latest-work .title {
      display: flex;
      gap: 0.5rem;
    }

    .latest-work .projects {
      gap: 12rem;
    }

    .clients {
      flex-direction: row;
      justify-content: space-between;
      gap: 10rem;
    }

    .clients .worked-with-over {
      max-width: 480px;
    }

    .wrapper-testimonial {
      margin: 0;
    }

    .testimonial {
      margin-top: 0rem;
    }
    .bottom .cta {
      flex-direction: column-reverse;
      flex-direction: row;
    }

    .bottom .div {
      flex-direction: row;
      gap: 10rem;
    }
  }

  @media screen and (min-width: 1440px) {
    .container {
      padding: 0rem 5rem;
    }
    .hero .jacob-gr-nberg {
      font-size: 13rem;
    }
  }
</style>
